{% extends 'layout/base.html' %}
{% block header %}

<style>
  .active a{
    background-color: black !important;
    color: white !important;;
  }
</style>

{% endblock %}
{% block content %}
<!-- Heading -->
  <div class="bg-light">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="{% url 'store-page'%}" class="text-dark"><i class="fas fa-house"></i> Home</a>
          <span class="text-dark mx-2"> > </span>
          <a href="" class="text-dark">{{ search_data }}</a>
         
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>
  <!-- Heading -->

  <section class="mt-5 mb-4">
    <div class="container">
    	<div class="row">
    		<div class="col-12 col-lg-6">
    			<header class="mb-5">
        	<h1 class="fw-normal">Search results for: {{ search_data }}</h1>
        	<p>{{result_count}} results</p>
        </header>
    		</div>
    		{% if page %}
    		<div class="col-12 col-lg-6 col-md-6">
    			<div class="float-end mb-3">
            <form method="get" id="sort-form" action="{% url 'search-item-data' %}">
              {% csrf_token %}
              <h5 class="fw-normal d-inline">SORT BY</h5>
              <input type="hidden" name="search-item" value="{{ search_data }}">
              <select class="select px-4 py-2 mx-2" id="sort-select" name="sort_select">
                <option selected disabled hidden></option>
                <option value="lth" {% if sort_by == "lth"%} selected {% endif %}> Price: Low to High</option>
                <option value="htl"{% if sort_by == "htl"%} selected {% endif %}>Price: High to Low</option>
                <option value="bs" {% if sort_by == "bs"%} selected {% endif %}>Bestselling</option>
                <option value="new"{% if sort_by == "new"%} selected {% endif %}>Newest</option>
              </select>
            </form>
          </div>
    		</div>
    	</div>
      <div class="row">
        {% for book in page %}
        <div class="col-lg-2 col-md-3 col-6">
          <article class="bg-light">
            {% if book.status == 'new' %}
            <span class="badge bg-danger">NEW</span>
            {% elif book.status == 'sale'%}
            <span class="badge bg-success">SALE</span>
            {% else %}
            <span class="badge">.</span>
            {% endif %}
            <div class="bg-image hover-overlay ripple">
              <a href="{% url 'book-detail' book.id %}" class="img-fluid">
                <img class="rounded w-100"  src="{{book.image.url}}" style="object-fit: scale-down;" height="220" />
                <div class="mask" style="background-color: hsla(0, 0%, 98%, 0.2)"></div>
              </a>
            </div>
            <div class="mt-2 text-muted small d-block mb-1 text-center">
              <a href="#"><h6 class="text-dark text-center">{{book.title}}</h6 ></a>
              {% for author in book.book_author.all %}
              <p class="fw-normal">By {{author}}</p>
              {% endfor %}
              <a href="{% url 'book-detail' book.id %}" class="btn btn-light   d-block fs-6"><span class="text-muted">₱</span><span class="fw-bold">{{ book.price }}</span></a>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
 				{% else %}
 				<div class="row">
 					<div class="col-12">
 						<h2>Opps!</h2>
 						<h5 class="text-muted fw-normal">We cannot seem to find any results for your search keywords. Please try another keyword.</h5>
 					</div>
 				</div>
 				{% endif %}
    </div>
  </section>

<!-- Pagination  -->
{% if page.has_other_pages %}
		<div class="container mt-3 mb-3">
	      <nav aria-label="...">
	        <ul class="pagination justify-content-center">
	          {% if page.has_previous %}
	            <li class="page-item">
	              <a href="?search-item={{ search_data }}&sort_select={{ sort_by }}&page={{ page.previous_page_number }}" class="page-link">Previous</a>
	            </li>
	          {% else %}
	            <li class="page-item disabled">
	              <a class="page-link">Previous</a>
	            </li>
	          {% endif %} {% for i in page.paginator.page_range %}
	            {% if page.number == i %}
	              <li class="page-item active" aria-current="page">
	                <a class="page-link">{{ i }} <span class="visually-hidden">(current)</span></a>
	              </li>
	            {% else %}
	              <li class="page-item">
	                <a class="page-link" href="?search-item={{ search_data }}&sort_select={{ sort_by }}&page={{ i }}">{{ i }}</a>
	              </li>
	            {% endif %}
	          {% endfor %} {% if page.has_next %}
	            <li class="page-item">
	              <a class="page-link" href="?search-item={{ search_data }}&sort_select={{ sort_by }}&page={{ page.next_page_number }}">Next</a>
	            </li>
	          {% endif %}
	        </ul>
	      </nav>
    	</div>
    	{% endif %}
	</div>
{% include 'layout/footer.html'%}
<script>
$(document).ready(function (){
    CartNotif();
    $('#sort-select').change(function(){
        $('#sort-form').submit();
    });
  });
    
function CartNotif(){
  $.ajax({
    url: '/cart-notification',
    type: 'GET',
    dataType: 'json',
    success: function(data){
      if (data.cart !== undefined && data.cart > 0){
        $("#item-count-notif").text(data.cart);
        console.log(data.cart)
      } else {
        $("#item-count-notif").empty();
      }
    },
    error:function(error){
      console.log(error)
    },
  });
}
</script>
{% endblock %}