
  <div class="p-3 text-center bg-white border-bottom sticky-top ">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4 align-self-center">
          <a href="{% url 'store-page'%}" class="float-start">
            <h1 class="fw-normal text-dark">Libro.</h1>
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8 align-self-center">
          <div class="d-flex float-end">
            <a href="{% url 'view-cart'%}" class="border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My cart</p> <span class="badge bg-danger ms-2" id="item-count-notif"></span></a>
            <a href="{% url 'wishlist' %}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-heart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Wishlist</p></a>
            {% if user.is_authenticated %}
            <div class="dropdown me-1 border rounded py-1 px-3 ">
              <a
                class="nav-link d-flex align-items-center dropdown-toggle"
                href="#"
                role="button"
                target="_blank"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
              <!-- account -->
                <i class="fas fa-user-alt m-1 me-md-2"></i>
              <!-- end -->
              </a>
             
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'user-account' %}">{{user.username}}</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-user-alt m-1 me-md-2"></i></a>
            {% endif  %}
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12 align-self-center">
          <div class="input-group">
             <form method="get" action="{% url 'search-item-data' %}" class="form-group form-outline">
                <input type="search" name="search-item" placeholder="Search Libro." value="{{search_data}}" class="form-control hover-none" aria-label="Search" aria-describedby="search-addon" required />
             </form>
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>