{% extends 'layout/base.html' %}
{% block title %}{{books.title}}{% endblock %}
{% block header %}
<style>
    .checked {
        color: orange;
    }
    .cart-button{
      transition: all .5s ease;
      color: black;
      border: 3px solid black;
    }
    .nav-pills .nav-link.active {
      background-color: black;
      color: white;
    }
    

</style>
{% endblock header %}

{% block content %}

 <!-- Heading -->
  <div class="bg-light">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="{% url 'store-page'%}" class="text-dark"><i class="fas fa-house"></i> Home</a>
          <span class="text-dark mx-2"> > </span>
          <a href="" class="text-dark">{{ books.title }}</a>
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>
  <!-- Heading -->
<div class="alert alert-success alert-dismissible fade show text-center" role="alert" data-mdb-delay="3000" id="alert-added" style="display:none;">
    <strong></strong> Successfully added to cart.
  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
</div>


<div class="alert alert-success alert-dismissible fade show text-center" role="alert" data-mdb-delay="3000" id="alert-wish" style="display:none;">
    <strong></strong> Successfully added to Wishlist.
  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-error alert-dismissible fade show text-center" role="alert" data-mdb-delay="3000" id="alert-added-error" style="display:none;"> Something went wrong!.
  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
</div>

<form class="container bg-white mt-5 mt-sm-2 mt-md-4" id="addform">
    {% csrf_token %}
    <section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
            <img style="max-width: 100%; max-height: 50vh; margin: auto;" class="rounded-4 fit" src="{{books.image.url}}" />
          </a>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h2 class="title text-dark">
            {{books.title}}
          </h2>
          {% for author in books.book_author.all %}
          <p class="text-muted fw-normal h5">By {{ author }}</p>
          {% endfor %}
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{book_order_item}} orders</span>
            <span class="text-success ms-2">In stock</span>
          </div>
          <p>
            {{books.description|linebreaks}}
          </p>
          <div class="row">
            <dt class="col-3">Pages:</dt>
            <dd class="col-9">{{books.pages}}</dd>

            <dt class="col-3">Language</dt>
            <dd class="col-9">{{books.language}}</dd>

            <dt class="col-3">Publisher</dt>
            <dd class="col-9">{{books.publisher}}</dd>
                
          </div>
          <hr />
          <div class="mb-3 d-inline">
            <span class="h2">₱{{books.price}}</span>
          </div>
          <div class="d-inline mx-4"> 
             <button class="btn btn-lg inline cart-button " id="add-cart-btn" data-item-id = {{books.id }}> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
             {% if wish_item %}
              <span class="btn"><i class="fa-solid fa-heart fa-2x" style="color: #ff0000;"></i></span>             
              
              {% else %}
              <button class="btn bg-light rounded" id="add-wishlist-btn" data-wishlist-id="{{ books.id }}"><i id="icon" class="me-1 fa-solid fa-heart fa-2x"></i>
            </button>
            {% endif %}
          </div>
          <div class="row mt-2 bg-light rounded-4">
            <div class="container">
             <hr>
              <span class="float-start mt-2 mb-3 mx-2"><i class="fas fa-truck text-muted fa-2x"></i></span>
              <span class="text-muted">Delivery estimate: within 2-3 days for Metro Manila areas and 5-7 days for Provincial areas</span>
            <hr>
              <span class="float-start mt-2 mb-3 mx-2"><i class="fas fa-envelope-open-text text-muted fa-2x"></i></i></span>
             <span class="text-muted">Due to COVID-19 cases, the delivery times are longer than usual. Please expect some delays with your orders.</span>
            <hr>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>
</section>  
</form>
<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
            </li>
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Author Info</a>
            </li>
          </ul>
          <!-- Pills navs -->
  
          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <p>
                {{books.description}}
              </p>
            
              <table class="table border mt-3 mb-2">
                <tr>
                  <th class="py-2">ISBN</th>
                  <td class="py-2">{{books.ISBN}}</td>
                </tr>
                <tr>
                  <th class="py-2">Dimensions</th>
                  <td class="py-2">{{books.dimension}}</td>
                </tr>
                <tr>
                  <th class="py-2">Publisher</th>
                  <td class="py-2">{{books.publisher}}</td>
                </tr>
                <tr>
                  <th class="py-2">Publication Date</th>
                  <td class="py-2">{{books.published}}</td>
                </tr>
                <tr>
                  <th class="py-2">Pages</th>
                  <td class="py-2">{{books.pages}}</td>
                </tr>
                <tr>
                  <th class="py-2">Genre</th>
                  <td class="py-2">{% for genre in books.genre.all %} 
                  {{genre.name}}
                  {% if not forloop.last %}, {% endif %}
                  {% endfor %}</td>
                </tr>
                <tr>
                  <th class="py-2">Author</th>
                  <td class="py-2">{% for author in books.book_author.all %}
                    {{author.name}}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th class="py-2">Language</th>
                  <td class="py-2">English</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
              <h6>Limited Warranty</h6> <br />
              We offer a limited warranty for all books purchased through Libro. This warranty covers defects in materials and workmanship for a period of 2024 from the date of purchase. 
              If your book exhibits any such defects during the warranty period, we will, at our discretion, repair or replace the book free of charge.
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
              Shipping Restrictions
              Some products may be subject to shipping restrictions due to their size, weight, or destination regulations. Please check the product details for any applicable restrictions.

              Delivery Issues
              If you encounter any issues with the delivery of your order, such as delays or damage during transit, please notify us as soon as possible. We will work diligently to resolve the issue and ensure your satisfaction.

              Returns and Refunds
              For information on returns, exchanges, and refunds, please refer to our Return Policy page.

              Contact Us
              If you have any questions or need further assistance regarding shipping, please do not hesitate to contact our Customer Service team at janicomegio02@gmail.com, We are here to assist you and make your shopping experience exceptional.
            </div>
            <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
              <span class="">{% for author in books.book_author.all %}
                {{author.name}}
                {% if not forloop.last %}, {% endif %}
                </span> <br />
                {{author.description}}
                {% endfor %}
            </div>
          </div>
          <!-- Pills content -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Related Products</h5>
              {% for book in related %}
              <div class="d-flex mb-3">
                <a href="{% url 'book-detail' book.id %}" class="me-3">
                  <img src="{{book.image.url}}" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="{% url 'book-detail' book.id %}" class="nav-link mb-1">
                    {{ book.title }} <br />
                    {% for author in book.book_author.all %}
                    by: {{author}}
                    {% endfor %}
                  </a>
                  <p class="text-dark fw-normal">₱{{book.price}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'book/by_category/list_reviews.html'%}
<script>
$(document).ready(function (){
  
        CartNotif();

    });
    
    function CartNotif(){
         $.ajax({
            url: '/cart-notification',
            type: 'GET',
            dataType: 'json',
            success: function(data){
                if (data.cart !== undefined && data.cart > 0){
                     $("#item-count-notif").text(data.cart);
                     
                } else {
                     $("#item-count-notif").empty();
                }
            },
            error:function(error){
                console.log(error)
            },

        });
    }
     

    $("#add-cart-btn").click(function(e){
        e.preventDefault();
        const product_id = $(this).data("item-id");

      $.ajax({

            url: '/add-to-cart/'+product_id,
            type:'POST',
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                $("#alert-added").show()
                $("#alert-added strong").text(data.message)
                CartNotif();
            },
            error: function(error){
                $("#alert-added-error").show()
                $("#alert-added-error strong").text(error)
            }

        });
        
    });

    $("#add-wishlist-btn").click(function(e){
        e.preventDefault();
        
        const product_id = $(this).data("wishlist-id");

        $.ajax({

            url: '/add-to-wishlist/'+product_id,
            type:'POST',
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                $("#alert-wish").show()
                $("#alert-added strong").text(data.message)
                $("#icon").addClass('text-danger')
                CartNotif();
            },
            error: function(error){
                $("#alert-added-error").show()
                $("#alert-added-error strong").text(error)
            }

        });
        
    });
</script>
{% endblock %}
