{% extends 'layout/base.html' %}
{% load humanize %}
{% block title %}{{user.username }} | Cart{%endblock title%}
{% block content %}
<header>
  <!-- Heading -->
  <div class="bg-light">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="{% url 'store-page' %}" class="text-dark">Home</a>
          <span class="text-dark mx-2"> > </span>
          <a href="{% url 'view-cart' %}" class="text-dark"><u>Shopping cart</u></a>
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>
  <!-- Heading -->
</header>

<!-- Alert -->

<div class="alert alert-success alert-dismissible fade show text-center" role="alert" data-mdb-delay="3000" id="alert-added" style="display:none;">
    <strong></strong> Successfully added to cart.
  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-error alert-dismissible fade show text-center" role="alert" data-mdb-delay="3000" id="alert-added-error" style="display:none;"> Something went wrong!.
  <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
</div>

<!-- endAlert  -->

{% if items %}
<!-- cart + summary -->

<section class="my-5">
  <div class="container">
    <div class="row">
      <!-- cart -->
      
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            {% for item in items %}
            <div class="row gy-3 mb-4">
              <div class="col-lg-5">
                <div class="me-lg-5">
                  <div class="d-flex">
                    <img src="{{ item.book_title.image.url }}" class="border rounded me-3" style="width: 96px; height: 96px;" />
                    <div class="">
                      <a href="{% url 'book-detail' item.book_title.id %}" class="nav-link">{{ item.book_title.title }}</a>
                      {% for author in item.book_title.book_author.all %}
                      <p class="text-muted">{{ author }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                <form method="post" class="">
                  {% csrf_token %}
                  <a href="{% url 'minus-item' item.id %}" class="mx-3 text-dark"><i class="fas fa-circle-minus fa-lg"></i></a>
                  <span>{{ item.quantity }}</span>
                  <a href="{% url 'plus-item' item.id %}" class="mx-3 text-dark"><i class="fas fa-circle-plus fa-lg"></i></a>
                </form>  
                <div class="text-center">
                  <text class="h6">&#8369; {{item.total_cart_items|intcomma}}</text> <br />
                  <small class="text-muted text-nowrap"> &#8369; {{ item.book_title.price|intcomma }} / per item </small>
                </div>
              </div>
              <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                <div class="float-md-end">
                  <a href="{% url 'delete-item' item.id %}" class="btn btn-light border text-danger icon-hover-danger"> Remove </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="border-top pt-4 mx-4 mb-4">
            <p class="text-muted"><i class="fas fa-truck text-muted fa-lg"></i> Estimated delivery within 1-2 weeks</p>
          </div>
        </div>
      </div>
      <!-- cart -->
      <!-- summary -->
      <div class="col-lg-3">
        <div class="card mb-3 border shadow-0">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                  <input type="text" class="form-control border" name="" placeholder="Coupon code" />
                  <button class="btn btn-light border">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card shadow-0 border">
          <div class="card-body">
            {% comment %} <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">&#8369; {{ total|floatformat:2 }}</p>
            </div> {% endcomment %}
            <!-- if discount  
            <div class="d-flex justify-content-between">
              <p class="mb-2">Discount:</p>
              <p class="mb-2 text-success">-$60.00</p>
            </div>
            end -->
            
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-normal h4">&#8369; {{ total|floatformat:2|intcomma }}</p>
            </div>

            <div class="mt-3">
              {% if detail %}
              <a href="{% url 'stripe-checkout' %}" class="btn btn-success w-100 shadow-0 mb-2"> Place Order </a>
              <a href="{% url 'store-page'%}" class="btn btn-light w-100 border mt-2"> Back to shop </a>
             
              {% else %}
              <a href="{% url 'user-info' %}" class="btn btn-success w-100 shadow-0 mb-2"> Place Order </a>
              <a href="{% url 'store-page'%}" class="btn btn-light w-100 border mt-2"> Back to shop </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- summary -->
    </div>
  </div>
</section>
{% include 'layout/footer.html' %}
<!-- cart + summary -->
{% else %}
<div class="text-center m-5">
  <i class="fa-solid fa-cart-shopping fa-shake fa-10x"></i>
  <h1 class="mt-4">Your shopping cart is empty.</h1>
  <h2 class="fw-normal">Start a new book haul now!</h2>
  <a href="{% url 'store-page'%}" class="btn btn-light hover-shadow btn-lg">Shop Now</a>
</div>
{% endif %}


<script>
$(document).ready(function (){
    CartNotif();
  });
    
function CartNotif(){
  $.ajax({
    url: '/cart-notification',
    type: 'GET',
    dataType: 'json',
    success: function(data){
      if (data.cart !== undefined && data.cart > 0){
        $("#item-count-notif").text(data.cart);
        console.log(data.cart)
      } else {
        $("#item-count-notif").empty();
      }
    },
    error:function(error){
      console.log(error)
    },
  });
}
</script>
{% endblock content %}

