{% extends 'layout/base.html' %}
{% block content%}
<header>
  <!-- Heading -->
  <div class="bg-light">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="/store-page" class="text-dark"><i class="fa-solid fa-house"></i> Home</a>
          <span class="text-dark mx-2"> > </span>
          <a href="{% url 'user-account' %}" class="text-dark"> <i class="fas fa-user"></i
        > Account</a>
          <span class="text-dark mx-2"> > </span>
          <a href="{% url 'order'%}" class="text-dark"><i class="fas fa-box"></i> My Order</a>
          <span class="text-dark mx-2"> > </span>
          <a href="{% url 'order-history' %}" class="text-dark"><u>Order History</u></a>
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>
  <!-- Heading -->
</header>
<section style="background-color: #eee;" class="pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12">
				<div class="card mt-5">
					<div class="card-title py-3 px-2">
						<h2 class="fw-normal text-center">Reviewed Products</h2>
					</div>
					<hr>
					{% for item in page %}
					<div class="card-body">
						<div class="d-flex">
							<img src="{{item.item_review.book_order.image.url}}" style="width:100px; height: 150px;">
							<div class="container">
								<h5>{{item.item_review.book_order.title}}</h5>
								<p class="text-muted d-inline">Date: <small>{{item.date}}</small></p>
								<p>Rating: {{item.star}}</p>
								<p class="text-muted">" {{item.comment}}</p>
								<p></p>
								<hr>
							</div>	
						</div>
					</div>
					{% endfor %}
					<div class="container m-3">
						<nav aria-label="...">
						  <ul class="pagination justify-content-center">
						  	{% if page.has_previous %}
						    <li class="page-item ">
						      <a href="?page={{ page.previous_page_number }}" class="page-link">Previous</a>
						    </li>
						    {% else %}
						    <li class="page-item disabled">
						      <a class="page-link">Previous</a>
						    </li>
						    {% endif %}

						    {% for i in page.paginator.page_range %}
							    {% if page.number == i %}
							    <li class="page-item active" aria-current="page">
							      <a class="page-link">{{ i }} <span class="visually-hidden">(current)</span></a>
							    </li>
							    {% else %}
							    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
							    {% endif %}
						    {% endfor  %}
						    {% if page.has_next %}
						    <li class="page-item">
						      <a class="page-link" href="?page={{ page.paginator.num_pages }}">Next</a>
						    </li>
						    {% endif %}
						  </ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-12">
				<div class="card mx-2 mt-5">
					<div class="card-title px-2 py-3">
						<h2 class="fw-normal text-center">Purchased History</h2>
					</div>
					<hr>
					{% if reviewed_item %}
						{% for item in order_list %}
							{% for order in item.buy_items.all %}
								{%if not order.review %}
								<div class="card-body ">
									<img src="{{ order.book_order.image.url }}" style="width:36px; height: 46px;">
									<p class="d-inline ">{{order.book_order.title}}</p>
									<p class="text-muted d-inline fw-normal">{{order.qty}}x</p>
									<a href="{% url 'create-review' order.id %}" class="btn btn-outline-warning d-inline btn-lg float-end">Add Review</a>
									<hr>
								</div>
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% else %}
						<div class="card-body text-center">
							<i class="fa-solid fa-triangle-exclamation fa-bounce fa-5x"></i>
							<h3 class=" text-muted fw-normal">No Purchase History</h3>
							<a href="{% url 'store-page'%}" class="btn btn-lg btn-success justify-content-center">Buy Now</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}