{% extends 'layout/base.html' %}
{% block title %}Store{% endblock %}
{% block content %}
  <div class="container mx-auto mt-3">
    <div class="container">
      <h1 class="m-4">Best Seller</h1>
      <div class="row">
          {% csrf_token %}
          {% for book in page %}
          <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="card">
                  <img src="{{ book.image.url }}" alt="Books" class="img-fluid rounded-top p-2 hover-shadow" />
                  <div class="card-body p-2">
                    <h5 class="card-title text-capitalize">{{ book.title }}</h5>
                    {% for author in book.book_author.all %}
                        <p>By: {{ author }}</p>
                      {% endfor %}
                       <div class="rating">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                      <a href="{% url 'book-detail' book.id %}" class="btn btn-secondary card-link">View Details</a>
                  </div>
            </div>
          </div>
        {% endfor %}  
        </div>
    </div>
      <div class="pagination m-3">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?page=1" class="btn"><i class="fas fa-angles-left"></i> First</a>
                <a href="?page={{ page.previous_page_number }}" class="btn"><i class="fas fa-angle-left"></i> Previous</a>
            {% endif %}
            <span class="current-page"><i class="fas">{{ page.number }}</i></span>
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="btn">Next <i class="fas fa-angle-right"></i></a>
                <a href="?page={{ page.paginator.num_pages }}" class="btn">Last  <i class="fas fa-angles-right"></i></a>
            {% endif %}
        </span>
      </div>
</div>
{% include 'layout/footer.html' %}
{% endblock %}
