{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
  Libro.
{% endblock %} {% block header %}
  <style>
    .checked {
      color: orange;
    }
    .active a{
    background-color: black !important;
    color: white !important;
  }
  </style>
{% endblock %} {% block content %}
  <!-- Main Navigation -->
  <header>
    <div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false">
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselExampleTouch"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleTouch"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleTouch"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active bg-dark" data-mdb-interval="2000">
        <img src="{% static 'images/Freeshipping.png' %}" class="d-none d-lg-block w-100" alt="Free Shipping" />
        <img src="{% static 'images/smfree.png' %}" class="d-block d-lg-none w-100" alt="Free Shipping" />
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/thebestbooks2023.png'%}" class="d-none d-lg-block w-100" alt="BestBooks2023"/>
        <img src="{% static 'images/smbest.png'%}" class="d-block d-lg-none w-100" alt="BestBooks2023"/>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/Sale.png'%}" class="d-none d-lg-block w-100" alt="Sale"/>
        <img src="{% static 'images/smsale.png'%}" class="d-block d-lg-none w-100" alt="Sale"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <!-- Jumbotron -->
  </header>



  <section class="mt-5 mb-4">
    <div class="container text-dark">
      <header class="mb-4 mt-4">
        <h1 class="text-center p-4">Most Popular Categories</h1>
      </header>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card hover-shadow">
            <a href="{% url 'category-novel' %}" class="text-center bg-light">
              <img src="{% static 'images/categories/manga.jpg' %}" style="object-fit:scale-down;" height="220"/></a>
            <div class="card-body">
              <h4 class="text-center fw-bold">Manga</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card hover-shadow">
            <a href="{% url 'category-novel' %}" class="text-center bg-light">
              <img src="{% static 'images/categories/fiction.jpg' %}" style="object-fit:scale-down;" height="220"/></a>
            <div class="card-body">
              <h4 class="text-center fw-bold">Fiction</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card hover-shadow">
            <a href="{% url 'category-novel' %}" class="text-center bg-light">
              <img src="{% static 'images/categories/non-fiction.jpg' %}" style="object-fit:scale-down;" height="220"/></a>
            <div class="card-body">
              <h4 class="text-center fw-bold">Non-Fiction</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card hover-shadow">
            <a href="{% url 'category-novel' %}" class="text-center bg-light">
              <img src="{% static 'images/categories/psychology.jpg' %}" style="object-fit:scale-down;" height="220"/></a>
            <div class="card-body">
              <h4 class="text-center fw-bold">Psychology</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
  {% include 'book/by_category/Best_Seller.html' %}

  {% include 'book/by_category/featured-author.html'%}

  {% include 'book/by_category/New_Arrival.html'%}


  <section>
    <div class="container">
      <form method="get" id="ads-item">
      <div class="row">
        <div class="col-12 col-md-4 mb-3">
          <a href="{% url 'online-bundles' %}" class="text-center"><img src="{% static 'images/ads/ads01.jpg'%}" class="w-100 rounded-5 hover-shadow" style="object-fit: scale-down;" /></a>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <a href="{% url 'fave-reads' %}"><img src="{% static 'images/ads/ads02.jpg'%}" class="w-100 rounded-5 hover-shadow" style="object-fit: scale-down;" /></a>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <a href="{% url 'special' %}"><img src="{% static 'images/ads/ads03.jpg'%}" class="w-100 rounded-5 hover-shadow" style="object-fit: scale-down;" /></a>
        </div>
      </div>
      </form>
    </div>
  </section>

  {% include 'book/by_category/Trending.html'%}

  {% include 'book/by_category/shopbycategory.html'%}

  {% include 'layout/footer.html' %}

  <script>
    $(document).ready(function () {
      CartNotif()
    })
    
    function CartNotif() {
      $.ajax({
        url: '/cart-notification',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          if (data.cart !== undefined && data.cart > 0) {
            $('#item-count-notif').text(data.cart)
            console.log(data.cart)
          } else {
            $('#item-count-notif').empty()
          }
        },
        error: function (error) {
          console.log(error)
        }
      })
    }
  </script>
{% endblock %}
