{% extends 'layout/base.html' %}
{% block content %}

<header>
  <!-- Heading -->
  <div class="bg-dark">
    <div class="container py-4">
      <!-- Breadcrumb -->
      <nav class="d-flex">
        <h6 class="mb-0">
          <a href="{% url 'store-page' %}" class="text-white-50"> <i class="fa-solid fa-house"></i> Home</a>
          <span class="text-white-50 mx-2"> > </span>
          <a href="{% url 'user-account' %}" class="text-white-50"><i class="fas fa-user"></i
        > Account</a>
          <span class="text-white-50 mx-2"> > </span>
          <a href="/account" class="text-white"><u>Account Info</u></a>
        </h6>
      </nav>
      <!-- Breadcrumb -->
    </div>
  </div>
  <!-- Heading -->
</header>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">@{{ user.username }}</h5>
            <p class="text-muted mb-1"></p>
            <p class="text-muted mb-4">Update Information</p>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
            	<form method="post">
				  {% csrf_token %}
				  	<h3>Information Details</h3>
					<div class="form-outline">
					  <input type="text" id="form12" class="form-control" name="fname" value="{{info.fname}}" required />
					  <label class="form-label" for="form12">First Name</label>
					</div>
					<div class="form-outline mt-4">
					  <input type="text" id="form12" class="form-control" name="lname" value="{{info.lname}}" />
					  <label class="form-label" for="form12">Last Name</label>
					</div>
					<div class="form-outline mt-4">
					  <input type="text" id="form12" class="form-control" name="midname" value="{{info.midname}}"/>
					  <label class="form-label" for="form12">Middle Name</label>
					</div>
					<div class="form-outline mt-4">
					  <input type="number" id="form12" class="form-control" name="age" value="{{info.age}}" required   />
					  <label class="form-label" for="form12">Age</label>
					</div>
					<div class="form-outline mt-4">
					  <input type="text" id="form12" class="form-control" name="birthdate" 
					  value="{{ info.birthdate|date:'Y-m-d' }}" required />
					  <label class="form-label" for="form12">Birth Date: yyyy/mm/dd</label>
					</div>
					<div class="form-outline mt-4">
					    <input type="tel" id="typePhone" class="form-control" name="contact" value="{{info.contact }}" required />
					    <label class="form-label" for="typePhone">Contact Number</label>
					</div>
					<div class="form-outline mt-4">
						<textarea class="form-control" id="textAreaExample" rows="4" name="address1" 
						 required>{{ info.address1 }}</textarea>
  					   	<label class="form-label" for="textAreaExample">Address </label>
					</div>
					<div class="form-outline mt-4 mb-3">
						<textarea class="form-control" id="textAreaExample" rows="4" name="address2">{{ info.address2 }}</textarea>
  					   	<label class="form-label" for="textAreaExample">Second Address</label>
					</div>
				    
				  <button type="submit" class="btn btn-primary">Update</button>
				</form>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}